header{ 
    background-image: url(../Images/backgroundImage1.jpg);
    color: rgb(0, 0, 0);
   max-width: 100%;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5% ;
    margin-top: 5%;
}
  
.item1{
    background-color: black;
    width: 190px;
    height: fit-content;
    text-align: left;
    color: white;
    margin-left: 5%;
    margin-right: 1%;
    padding-top: 2% ;
    padding-bottom: 2%;
    padding-left: 1%;
    font-size: 20px;
    float: left;

}
    
    footer{
        background-color: bisque;
        border: dotted;
        margin-left: 5% ; 
        margin-right: 5%;
        margin-bottom: 5%;
        padding-left: 5%;
    }

    a {background-color: beige;
    color: rebeccapurple;
}
    
   .image{
    border-radius: 30px;
    border:solid white;
    border-width: 5px;
    left: 10%;
    top: 8%;
   
    }
   
   body{
    border-style: groove;
   }
    button{
        border-radius: 20px;
        padding: 15px 22px;
        text-decoration: none;
        text-align:center;
        font-size: 10px;
        box-shadow: 0 8px 16px 0 color orange 0 6px 20px color orange;
        color:blue;
    }
     button1 {
        background-color:blue;
        border-color: white;
     }
     button2 {
        background-color: blue;
        border-color:white;
     }
     .container{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-around;
      background-color: bisque;
      border-radius: 10%;
      border-style: groove;
     }
     .item2 {
     text-align: left;
     }
     .item3{
        width: fit-content;
     }
     img{
        padding-left: ;
     }
     .pic{
        text-align: center;
     }
     
/*code for mobile devices smaller than 600px*/
a { background-color: yellowgreen;
    color: aquamarine;}
.container { background-color:transparent;}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container { background-color: pink; 
     font-size: 80px;
    }
    a { background-color:transparent ;
        color: red;}

    }
 

 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body { background-color: yellow;
      
    }
   .container { background-color:transparent;}
   a { color: red;}

   }

